<header-component></header-component>
<div class="container home-container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin-bottom: 20px">
      <h1 class="text-center">“the people who are crazy enough to think they can change the world are the ones who do.”</h1>
      <small class="pull-right">― Steve Jobs</small>
		</div>
    <div class="col-sm-8 col-sm-offset-2">
      <hr>
      <p class="text-center">Hi, my name is Stefano Valenzano, I'm a student and in my free time I'm a young back/front end Web Developer, I do many projects for upgrade my skills and knowledge.</p>
    </div>
  </div>
</div>
<footer-component></footer-component>
