<header-component></header-component>
<div class="container about-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="text-center big_title">About Me</h1>
        <hr>
        <img src="assets/images/profile_pic.jpg" width="200" alt="Stefano Valenzano" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;">
          <h3>Stefano Valenzano</h3>
          <p class="about_info">web developer, student</p>
          <a href="mailto:valenzano.stefano99@gmail.com" class="about_info">valenzano.stefano99@gmail.com</a>
        <hr>
          <p>Telecommunications and Computer Science student at the State Technical Institute "Alessandro Artom"</p>
          <small><em>Studente di Informatica e Telecomunicazioni presso l'istituto tecnico industriale statale "Alessandro Artom"</em></small>
      </div>
    </div>
</div>
<footer-component></footer-component>
