<header-component></header-component>
<div class="container skills-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="text-center big_title">Technical skills</h1>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-group">
              <li class="list-group-item">PHP 5/7</li>
              <li class="list-group-item">Javascript</li>
              <li class="list-group-item">C++</li>
              <li class="list-group-item">Visual Basic</li>
              </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-group">
              <li class="list-group-item">HTML</li>
              <li class="list-group-item">CSS 3</li>
              <li class="list-group-item">Bootstrap</li>
              <li class="list-group-item">Angular2 (learning)</li>
            </ul>
          </div>
        </div>
        <hr>
        <h1 class="text-center big_title">Certifications</h1>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
            <ul class="list-group">
              <li class="list-group-item">ECDL Full</li>
              <li class="list-group-item">ECDL Start</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<footer-component></footer-component>
